@import url('http://fonts.googleapis.com/css?family=Poiret+One');

p{
    max-width: 450px;
    margin: 2em;
}

ul{
    max-width: 150px;
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
}

body{
    font-family: 'Poiret One';
    padding: 15px;
    box-shadow: 15px;
}

p{
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 2em;
}

#lettering{
    overflow: hidden;
    overflow-y: scroll;
    height: 750px;
    margin-top: 75px;
    border: solid 2px black;
    box-shadow: 17px 1px 12px rgba(50, 55, 50, 0.75);
}