.aa {
  font-weight:bold;
}

.bb {
  font-size:12px;
}

.cc {
  font-style: italic;
}

.dd {
  margin: 1em;
}

.ee {
    border-bottom: 1px solid lightgray;
}

.ff {
    color #999;
}

h1{
    center;
    border-bottom: 2px groove white;
    font-family: arial;
}