
body{
    font-family: 'Cabin', sans-serif;
    max-width: 1200px;
}

/* ====== HERO CSS STARTS HERE ===== */

#hero{
    background-image: url("img/header_background.jpg");
    background-repeat: no-repeat;
    max-width: 1180px;
    margin:auto;
    height: 624px;
    color:white;
    position: relative;
}

#textrows{
    position: absolute;
    bottom: 25px;
    margin: 50px;
    max-width: 700px;
}


.navtags{
    text-align: center;
    position: absolute;
    right: 50px;
    top: 75px;
}

.navtags *{
    margin:25px;
}

#icon {
    position: absolute;
    top: 50px;
    left: 50px;
}


/* ===== CONTENT CSS STARTS HERE ====== */

#main{
    text-align: center;
    width: 100%
}

#main > button{
    background-color: #25aa99;
    color: white;
    border: none;
    border-radius: 10px;
    height: 3em;
    padding: 5px;
    margin: 25px;
    width: 940px;
}

#videos{
    width: 100%;
    padding: 80px;
    margin-top: auto;
    margin-bottom: auto;
}

#textrows2{
    text-align: left;
    margin: 25px 50px 25px 50px;
}

#textrows2 > p{
    font-size: 14px;
}

.boxes{
    text-align: left;
    float: left;
    margin: 20px;
}

.boxes > h6{
    margin-top: 5px;
    margin-bottom: 5px;
}

.boxes > p{
     font-weight: bold;
     margin-top: 5px;
     margin-bottom: 5px;
 }


.row2{
    color: #25aa99;
}

.row3{
    color: lightgray;
}

#graph{
    width: 100%
    margin: auto;
}

/*  ====== CSS for "subscribe" begins here =====  */

#buttonspace{
    position: relative;
    min-width: 1200px;
    width: 100%;
    height: 150px;
    background-color: #25aa99;
    margin-top: 75px;
}

#buttonspace > form{
    position: absolute;
    top: 25px;
    left: 150px;
}

#newsletter, #subscribe{
    color: white;
    font-size: 16px;
}

#subscribe, #field{
    margin: 25px;
    height: 50px;
    width: 250px;
    border: none;
    background-color: #dac26c;
    border-radius: 5px;
}

#field{
    height: 20px;
    width: 400px;
    padding: 15px;
    background-color: white;
    color: grey;
    font-size: 16px;
}


/*  ===== CSS for footer starts here =====  */

#footer{
    position: relative;
    background-color: #d8d9dd;
    min-height: 250px;
    min-width: 1200px;
}

.boxes2 > p{
    color: darkgray;
}

.heads {
    color: black;
}

.boxes2{
    float: left;
    margin: 25px 75px;
}

#blueb{
    background-color: #65abcf;
    border: none;
    color: white;
    margin: 30px 0px;
    padding: 10px 25px;
    border-radius: 5px;
}

#place > p{
    margin: 5px;
}